<template>
    <div class="flex flex-col items-center justify-center h-screen">
        <h3 class="text-xl font-semibold mb-10">Bitcoin alert notification</h3>
        <div class="mb-10 shadow-lg bg-white rounded-lg">
            <input id="target_input" v-model="highestPrice" class="placeholder-yellow-500" type="number" placeholder="highest price at" />
            <input id="target_input" v-model="lowestPrice" class="placeholder-yellow-500" type="number" placeholder="lowest price at" />
            <select id="symbols" v-model="selectedSymbol" name="symbols" @change="onChangeSymbol">
                <option :value="listOfSymbols[0].toLowerCase()">{{ listOfSymbols[0] }}</option>
                <option v-for="(symbol, index) of listOfSymbols.slice(1)" :key="index" :value="symbol.toLowerCase()">{{ symbol }}</option>
            </select>
            <button class="submitButton hover:bg-yellow-500 transition" @click="setAlert">submit</button>
        </div>

        <div v-if="alerts" class="mb-10 p-3 shadow-lg bg-white rounded-lg flex flex-col alerts">
            <div v-for="alert of alerts" :key="alert.id" class="p-3 rounded-lg bg-gray-200 flex items-center alert">
                <img class="mr-3" width="40" height="40" :src="`https://bin.bnbstatic.com/static/images/home/coin-logo/${alert.symbol}.png`" alt="" />
                <span class="text-sm bg-gray-400 px-2 mr-1 rounded-full">high</span>
                <p :style="{ textDecoration: alert.done.reached_highest ? 'line-through' : 'none' }" class="alert_target mr-3">
                    {{ alert.targetPrices.highest }}
                </p>
                <span class="text-sm bg-gray-400 px-2 mr-1 rounded-full">low</span>
                <p :style="{ textDecoration: alert.done.reached_lowest ? 'line-through' : 'none' }" class="alert_target mr-3">
                    {{ alert.targetPrices.lowest }}
                </p>
                <span class="text-sm bg-yellow-300 text-yellow-700 px-2 mr-1 rounded-full">status</span>
                <div v-if="alert.status.remain_to_reach_highest || alert.status.remain_to_reach_lowest" class="alert_target flex">
                    <div v-if="alert.done.reached_highest !== true" class="flex items-center mr-2">
                        <img src="~/assets/arrow-up.svg" alt="" />
                        <span>
                            +{{
                                alert.status.remain_to_reach_highest
                                    .toString()
                                    .split("")
                                    .slice(0, alert.status.remain_to_reach_highest.toString().split("").indexOf("."))
                                    .join("")
                            }}$
                        </span>
                    </div>
                    <div v-if="alert.done.reached_lowest !== true" class="flex items-center">
                        <img src="~/assets/arrow-down.svg" alt="" /><span>
                            -{{
                                alert.status.remain_to_reach_highest
                                    .toString()
                                    .split("")
                                    .slice(0, alert.status.remain_to_reach_lowest.toString().split("").indexOf("."))
                                    .join("")
                            }}$
                        </span>
                    </div>
                </div>
                <div v-else>
                    <span class="text-sm font-medium">Calculating...</span>
                </div>

                <button class="ml-auto font-medium px-8 transition hover:bg-gray-400 py-3 rounded-lg -mr-1 -my-1 bg-gray-300">Cancel</button>
            </div>
        </div>

        <p class="text-lg flex items-center">
            {{ selectedSymbol.toUpperCase() }} Price:
            <b id="price" class="ml-2">{{ currentPrice || "Loading..." }}</b>
            <img :src="statsOfThePrice ? upSvg : downSvg" alt="" />
        </p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            currentPrice: null,
            highestPrice: null,
            lowestPrice: null,
            alertStatus: "+340",
            statsOfThePrice: null,
            previousPrice: 0,
            downSvg: require("~/assets/arrow-down.svg"),
            upSvg: require("~/assets/arrow-up.svg"),
            listOfSymbols: ["BTC", "ETH", "XRP", "BNB", "DOGE", "LINK", "KAVA", "DASH", "XLM", "LTC", "DOT"],
            selectedSymbol: "btc",
            alerts: [
                {
                    id: 0,
                    symbol: "BTC",
                    targetPrices: {
                        highest: 22970.44,
                        lowest: 22940.44,
                    },
                    submited_date: "",
                    status: {
                        remain_to_reach_highest: null,
                        remain_to_reach_lowest: null,
                    },
                    done: {
                        reached_highest: false,
                        reached_lowest: false,
                    },
                },
            ],
        };
    },
    beforeMount() {
        this.conn = new WebSocket(`wss://stream.binance.com:9443/ws/${this.selectedSymbol}usdt@trade`);
    },
    mounted() {
        this.fetchLiveData();
    },
    methods: {
        fetchLiveData() {
            this.currentPrice = null;
            this.previousPrice = 0;

            this.conn = new WebSocket(`wss://stream.binance.com:9443/ws/${this.selectedSymbol}usdt@trade`);

            this.conn.onmessage = (msg) => {
                const price = JSON.parse(msg.data.toString()).p.split("");
                const response = price.slice(0, price.indexOf(".") + 3).join("");
                this.currentPrice = response;

                const alert = this.alerts[0];

                if (this.currentPrice > alert.targetPrices.highest && alert.done.reached_highest !== true) {
                    alert.done.reached_highest = true;
                    this.playSound();
                } else {
                    alert.status.remain_to_reach_highest = alert.targetPrices.highest - this.currentPrice;
                }

                if (this.currentPrice < alert.targetPrices.lowest && this.currentPrice < alert.targetPrices.highest && alert.done.reached_lowest !== true) {
                    alert.done.reached_lowest = true;
                    this.playSound();
                } else {
                    alert.status.remain_to_reach_lowest = alert.targetPrices.lowest - this.currentPrice;
                }

                this.comparePrices(response);
                this.previousPrice = response;
            };
        },
        onChangeSymbol() {
            this.conn.close();
            this.fetchLiveData();
        },
        comparePrices(currentPrice) {
            const element = document.getElementById("price");
            const formatedCurrentPrice = this.currentPrice.toString().split("");
            const formatedPreviousPrice = this.previousPrice.toString().split("");

            const parsedCurrentPrice = parseInt(formatedCurrentPrice.slice(0, formatedCurrentPrice.indexOf(".")).join(""));
            const parsedPreviousPrice = parseInt(formatedPreviousPrice.slice(0, formatedPreviousPrice.indexOf(".")).join(""));

            if (parsedCurrentPrice > parsedPreviousPrice && this.previousPrice !== 0) {
                this.statsOfThePrice = true;
                element.style.color = "green";
            } else {
                this.statsOfThePrice = false;
                element.style.color = "red";
            }
        },
        setAlert() {},
        playSound() {
            const audio = new Audio(require("@/assets/alert.mp3"));
            audio.play();
        },
    },
};
</script>

<style>
#target_input {
    width: 160px;
    @apply bg-transparent text-yellow-600 font-medium text-center outline-none;
}

#symbols {
    @apply outline-none p-3 text-yellow-600 font-medium;
}

.submitButton {
    @apply py-3 px-8 text-center bg-yellow-400 m-2 shadow-lg font-semibold rounded-lg;
}

.alerts {
    width: 700px;
    @apply pb-1;
}

.alert {
    @apply mb-2;
}

.alert_target {
    @apply font-medium;
}
</style>
